.bg {
  background-color: #e9e9e9;
}

img.img-thumbnail {
  width: 150px;
  height: 150px;
}

.img-list {
  height: 80%;
  margin-top: 30px;
  margin-bottom: 30px;
}


.index-img {
  height: 600px;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.unsplash.com/photo-1493787039806-2edcbe808750?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
}

.index-catch-copy {
  color: #fff;
}