.bg {
  background-color: #e9e9e9;
}

img.img-thumbnail {
  width: 150px;
  height: 150px;
}


.col-md-5 {
  height: 100%;
  margin: auto;
}

.img-fluid {
  height: 100%;
}

.index-card {
  height: 386px;
}

.index-card-body {
  height: 386px;

}