<% layout("layouts/boilerplate") %>

<div class="row">
  <h1 class="text-center">スポット登録</h1>
  <div class="offset-md-3 col-md-6">
      <form action="/spots" method="POST" enctype="multipart/form-data" class="validated-form">
        <div class="mb-3">
          <label for="title" class="form-label">タイトル</label>
          <input type="text" name="spot[title]" id="title" class="form-control" autofocus required>
        </div>
        <div  class="mb-3">
          <label for="location" class="form-label">場所</label>
          <input type="text" name="spot[location]" id="location" class="form-control" required>
        </div>
        <div class="mb-3">
          <label for="aim" class="form-label">狙い目</label>
          <input type="text" name="spot[aim]" id="aim" class="form-control" required>
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">説明</label>
          <textarea name="spot[description]" id="description" required cols="50" rows="5" class="form-control"></textarea>
        </div >
        <div class="mb-3">
          <label for="image" class="form-label">画像を追加</label>
          <input type="file" name="image" id="image" class="form-control" multiple>
        </div>
        <div class="mb-3 text-end">
          <button class="btn btn-success">登録する</button>
        </div>
      </form>
  </div>
</div>